aioredis==1.3.1
arrow==1.1.1
asgiref==3.4.1
async-timeout==4.0.2
attrs==21.4.0
autobahn==21.11.1
Automat==20.2.0
autopep8==1.5.7
certifi==2021.5.30
cffi==1.15.0
channels==3.0.4
channels-redis==3.3.1
constantly==15.1.0
cryptography==36.0.1
daphne==3.0.2
dj-database-url==0.5.0
Django==3.2.7
django-debug-toolbar==3.2.2
django-heroku==0.0.0
gunicorn==20.1.0
hiredis==2.0.0
hyperlink==21.0.0
idna==3.3
incremental==21.3.0
-e git+git://github.com/davidhalter/jedi.git@65bc1c117b3175cb4d492484775c3fd7f207bc92#egg=jedi
msgpack==1.0.3
numpy==1.21.2
parso==0.8.2
Pillow==8.3.2
psutil==5.8.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycodestyle==2.7.0
pycparser==2.21
pygame==2.0.2
pyOpenSSL==21.0.0
python-dateutil==2.8.2
python-decouple==3.6
pytube==11.0.1
pytz==2021.1
service-identity==21.1.0
six==1.16.0
sqlparse==0.4.2
toml==0.10.2
Twisted==21.7.0
txaio==21.2.1
typing_extensions==4.0.1
whitenoise==6.0.0
zope.interface==5.4.0
